/* line 20, ../sass/_grid.scss */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 13, ../sass/_grid.scss */
.row::after {
  clear: both;
  display: block;
  content: '';
}

/* line 29, ../sass/_grid.scss */
.col1 {
  width: 8.3333333333%;
  float: left;
  padding: 10px;
}

/* line 29, ../sass/_grid.scss */
.col2 {
  width: 16.6666666667%;
  float: left;
  padding: 10px;
}

/* line 29, ../sass/_grid.scss */
.col3 {
  width: 25%;
  float: left;
  padding: 10px;
}

/* line 29, ../sass/_grid.scss */
.col4 {
  width: 33.3333333333%;
  float: left;
  padding: 10px;
}

/* line 29, ../sass/_grid.scss */
.col5 {
  width: 41.6666666667%;
  float: left;
  padding: 10px;
}

/* line 29, ../sass/_grid.scss */
.col6 {
  width: 50%;
  float: left;
  padding: 10px;
}

/* line 29, ../sass/_grid.scss */
.col7 {
  width: 58.3333333333%;
  float: left;
  padding: 10px;
}

/* line 29, ../sass/_grid.scss */
.col8 {
  width: 66.6666666667%;
  float: left;
  padding: 10px;
}

/* line 29, ../sass/_grid.scss */
.col9 {
  width: 75%;
  float: left;
  padding: 10px;
}

/* line 29, ../sass/_grid.scss */
.col10 {
  width: 83.3333333333%;
  float: left;
  padding: 10px;
}

/* line 29, ../sass/_grid.scss */
.col11 {
  width: 91.6666666667%;
  float: left;
  padding: 10px;
}

/* line 29, ../sass/_grid.scss */
.col12 {
  width: 100%;
  float: left;
  padding: 10px;
}

@media screen and (min-width: 600px) {
  /* line 37, ../sass/_grid.scss */
  .colM1 {
    width: 8.3333333333%;
  }

  /* line 37, ../sass/_grid.scss */
  .colM2 {
    width: 16.6666666667%;
  }

  /* line 37, ../sass/_grid.scss */
  .colM3 {
    width: 25%;
  }

  /* line 37, ../sass/_grid.scss */
  .colM4 {
    width: 33.3333333333%;
  }

  /* line 37, ../sass/_grid.scss */
  .colM5 {
    width: 41.6666666667%;
  }

  /* line 37, ../sass/_grid.scss */
  .colM6 {
    width: 50%;
  }

  /* line 37, ../sass/_grid.scss */
  .colM7 {
    width: 58.3333333333%;
  }

  /* line 37, ../sass/_grid.scss */
  .colM8 {
    width: 66.6666666667%;
  }

  /* line 37, ../sass/_grid.scss */
  .colM9 {
    width: 75%;
  }

  /* line 37, ../sass/_grid.scss */
  .colM10 {
    width: 83.3333333333%;
  }

  /* line 37, ../sass/_grid.scss */
  .colM11 {
    width: 91.6666666667%;
  }

  /* line 37, ../sass/_grid.scss */
  .colM12 {
    width: 100%;
  }
}
@media screen and (min-width: 900px) {
  /* line 45, ../sass/_grid.scss */
  .colL1 {
    width: 8.3333333333%;
  }

  /* line 45, ../sass/_grid.scss */
  .colL2 {
    width: 16.6666666667%;
  }

  /* line 45, ../sass/_grid.scss */
  .colL3 {
    width: 25%;
  }

  /* line 45, ../sass/_grid.scss */
  .colL4 {
    width: 33.3333333333%;
  }

  /* line 45, ../sass/_grid.scss */
  .colL5 {
    width: 41.6666666667%;
  }

  /* line 45, ../sass/_grid.scss */
  .colL6 {
    width: 50%;
  }

  /* line 45, ../sass/_grid.scss */
  .colL7 {
    width: 58.3333333333%;
  }

  /* line 45, ../sass/_grid.scss */
  .colL8 {
    width: 66.6666666667%;
  }

  /* line 45, ../sass/_grid.scss */
  .colL9 {
    width: 75%;
  }

  /* line 45, ../sass/_grid.scss */
  .colL10 {
    width: 83.3333333333%;
  }

  /* line 45, ../sass/_grid.scss */
  .colL11 {
    width: 91.6666666667%;
  }

  /* line 45, ../sass/_grid.scss */
  .colL12 {
    width: 100%;
  }
}
/* line 2, ../sass/_nav.scss */
nav ul {
  list-style: none;
}

/* line 10, ../sass/_nav.scss */
.li a:link {
  text-decoration: none;
  color: #F2F2F2;
}

/* line 15, ../sass/_nav.scss */
.li a:visited {
  color: #F2F2F2;
}

/* line 19, ../sass/_nav.scss */
a {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
}

/* line 23, ../sass/_nav.scss */
.logoImg {
  height: 50px;
  width: 50px;
  -ms-flex-line-pack: center;
      align-content: center;
}

/* line 29, ../sass/_nav.scss */
.navBar {
  padding: 15px;
  background-color: #014633;
  color: #F2F2F2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
}

/* line 42, ../sass/_nav.scss */
.navList {
  list-style: none;
  display: none;
}

@media screen and (min-width: 600px) {
  /* line 49, ../sass/_nav.scss */
  .logoImg {
    height: 75px;
    width: 75px;
  }

  /* line 54, ../sass/_nav.scss */
  .navBar {
    padding: 15px;
    background-color: #014633;
    color: #F2F2F2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  /* line 66, ../sass/_nav.scss */
  .listItem {
    padding: 10px;
    text-align: left;
    display: inline;
  }

  /* line 72, ../sass/_nav.scss */
  .navList {
    float: right;
  }

  /* line 77, ../sass/_nav.scss */
  .ul {
    list-style-type: none;
    /*	margin: 0;*/
    padding: 25px;
  }
}
/* line 9, ../sass/style.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 14, ../sass/style.scss */
.green {
  color: #014633;
}

/* line 18, ../sass/style.scss */
.yellow {
  color: #FAE42F;
}

/* line 22, ../sass/style.scss */
.white {
  color: #F2F2F2;
}

/* line 26, ../sass/style.scss */
.bgImg {
  background-image: url("../images/bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* line 33, ../sass/style.scss */
.bgSize {
  width: 100vw;
  height: 100vh;
}

/* line 38, ../sass/style.scss */
.floatLeft {
  float: left;
}

/*# sourceMappingURL=style.css.map */