* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import 'variables';

@import 'mixins';

@import 'grid';

@import 'nav';


.green {
  color: $greenColor;
}

.yellow {
  color: $yellowColor;
}

.white {
  color: $whiteColor;
}

.bgImg {
    background-image: url("../images/bgMob.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bgSize {
    width: 100vw;
    height: 100vh;
}

.floatLeft {
    float: left;
}

.textAlignCenter {
    text-align: center;
}

.hidden {
    display: none;
}

.flex {
    display: flex;
}

.noScroll {
    overflow-y: hidden;
}

.viewProductsButton {
    background-color: $yellowColor;
    width: 250px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width:1000px){
  .bgImg {
      background-image: url("../images/bgDT.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
  }
}
